body { margin: 0; padding: 0; }
header{
    background-color: #FDFF8C;
}

.id{
    font-size: 400%;
    font-weight: bold;
}

.login{
    margin-top: 10%;
    margin-left: 32%;
    margin-right: 32%;
    height: 400px;
    width: 500px;
    background-color: #FDFF8C;
    border-radius: 20px;
    border: 2px solid black;
}

.sigin{
    margin-top: 10%;
    margin-left: 32%;
    margin-right: 32%;
    height: 1050px;
    width: 500px;
    background-color: #FDFF8C;
    border-radius: 20px;
    border: 2px solid black;
}


.txtIS{
    margin-top: 5%;
    margin-left: 28%;
    font-size: 250%;
    font-weight: bold;
}
.txt{
    margin-top: 5%;
    font-size: 150%;
    margin-left: 20%;
}

.inputDiv{
    margin-left: 20%;
}

.input{
    width: 75%;
    height: 20px;
}

.button{
    background-color: white;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 40%;
    width: 25%;
    height: 30px;
    border-radius: 5px;

}

.a{
    margin-top: 5%;
    margin-left: 30%;
}

button:hover{
    background-color: aliceblue;
}
.con {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FDFF8C;
    font-family: sans-serif;    
    border: 2px solid black ;
    margin: auto;
    padding: 10%;
    font-family: sans-serif;    
    min-width: 200px;
    max-width: 400px;
    border-radius: 5px;
}

.ele {
    padding: 2%; 
    margin: 10px;
    text-align: center;
}
a:visited{
    color: black;
}
a{
    text-decoration: none;
}
.cen {
    margin: 30px;
    display: grid;
    place-items: center;
}
