body{
	font-family: sans-serif;
}
main{
    display: grid;
    place-items: center;
}
.p{
	margin-top: 40px;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 5px;
}
.publi{
	padding: 10px;
	max-width: 450px;
	background-color: rgb(211, 253, 121, 1.0);
	text-transform: capitalize;
	text-align: justify;
  	text-justify: inter-word;
	border: solid 	;
	border-radius: 20px;
        margin: 5px;
}
.basura{
	width: 15px;
	height: 15px;
}
img{
	float: right;
	margin-top: -20px;
}
.w{
	width: 80%;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.b{
	color: black;
}
.coms{
	margin: 10px;
	padding: 10px;
	border: solid black;
	background-color: white;
}
.in{
	margin: 10px;
}
.in, input{
	width: 70%;
}